{% extends 'template.twig' %}

{% block content %}

<script type="text/javascript">
    var arrayMovies = {{ rows|json_encode|raw }};
</script>

<div class="row no-margin">
    <div class="left col s12 m3 side-menu-search">
        <form class="" method="post">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input placeholder=" Search by title..." id="search-bar" type="search" class="validate" name="search" >
            </div>
        </form>

        <h4>Sorting</h4>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">live_tv</i>Sort</div>
                    <div class="collapsible-body">
                        <p>
                            <input name="group1" type="radio" id="sort-by-any" />
                            <label for="sort-by-any">Normal</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="sort-by-name" />
                            <label for="sort-by-name">Title</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="sort-by-rating"  />
                            <label for="sort-by-rating">Rating</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="sort-by-date"/>
                            <label for="sort-by-date">Release Date</label>
                        </p>                      
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">star</i>Rating</div>
                    <div class="collapsible-body">
                        <p>Minimum grade <span id="rating-value">0</span></p>
                        <div class="range-field" id="filter-rating"></div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">av_timer</i>Running Time</div>
                    <div class="collapsible-body">
                        <p>Maximum runtime <span id="runtime-value">0</span></p>
                        <div class="range-field" id="filter-runtime"></div>
                    </div>
                </li>                
                <li>
                    <div class="collapsible-header"><i class="material-icons">date_range</i>Release Year</div>
                    <div class="collapsible-body">
                        <p>Minimum release year <span id="release-value">0</span></p>
                        <div class="range-field" id="filter-release"></div>
                    </div>
                </li>
            </ul>
    </div>
    <div class="right col s12 m9">
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
            {% if movies %}
                {% for movie in movies %}
                <div class="grid-item" data-title="{{ movie.name }}" data-date-created="{{ movie.year }}" data-runtime="{{ movie.runtime }}" data-rating="{{ movie.rating }}">
                    <div class="card card-movie">
                        <div class="card-image">
                            {% if movie.image is defined and movie.image != "N/A" %}
                                <img src="{{ movie.image }}">
                            {% else %}
                                <img src="webroot/images/no-image.jpg">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ movie.name }}</span>
                            <p><a href="index.php?page=movie&id={{ movie.name }}">See More</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>Pas de film trouver pour votre recherche...</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}